In [19]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [7]:
r = requests.get("https://liberal.ca/your-liberal-mps/")
soup = BeautifulSoup(r.text)

In [17]:
people = soup.select('.person__item')
people_list = [{ 
  "name": person.select_one(".person__name").text,
  "riding": person.select_one(".person__riding-name").text               
} for person in people]

In [20]:
df = pd.DataFrame(people_list)
df

                   name                  riding
0    Adam van Koeverden                  Milton
1          Ahmed Hussen       York South–Weston
2      Alexandra Mendès  Brossard–Saint-Lambert
3           Ali Ehsassi              Willowdale
4         Andy Fillmore                 Halifax
..                  ...                     ...
151         Ya’ara Saks             York Centre
152         Yasir Naqvi           Ottawa Centre
153          Yvan Baker        Etobicoke Centre
154      Yves Robillard      Marc-Aurèle-Fortin
155        Yvonne Jones                Labrador

[156 rows x 2 columns]